<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util
           	http://www.springframework.org/schema/util/spring-util.xsd">
    <context:component-scan base-package="org.siraya.rent.mobile;org.siraya.rent.utils;org.siraya.rent.mobile;org.siraya.rent.donttry" />
   <bean id="mobileGatewayService" class="org.siraya.rent.mobile.provider.SentlyMobileGatewayProvider">
        <constructor-arg type="org.springframework.web.client.RestOperations" ref="restTemplate"/>
    </bean>  
                  
   <bean id="mobileAuthService" class="org.siraya.rent.user.service.MobileAuthService">
        <constructor-arg type="org.springframework.web.client.RestOperations">
            <bean class="org.springframework.web.client.RestTemplate">
                <constructor-arg ref="httpClientFactory" type="org.springframework.http.client.ClientHttpRequestFactory"/>
                <property name="errorHandler" ref="callbackErrorHandler"/>
            </bean>
        </constructor-arg>
    </bean> 
    
</beans>