<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task" 
	   xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/context
           	http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/task   
            http://www.springframework.org/schema/task/spring-task-3.0.xsd 
			http://www.springframework.org/schema/util
           	http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="org.siraya.rent.utils" />

    <!-- db_TMIC database settings -->
    <bean id="rentDS" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1/time_base_rent"></property>
        <property name="user" value="rentuser"></property>
        <property name="password" value="rentuser"></property>
        <property name="minPoolSize" value="1"></property>
        <property name="maxPoolSize" value="30"></property>
        <property name="initialPoolSize" value="1"></property>
        <property name="maxIdleTime" value="60"></property>
        <property name="acquireIncrement" value="1"></property>
    </bean>


    <bean id="rentTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="rentDS"/>
    </bean>
    <bean id="queueDS" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:sample.db" /> 
    </bean>
    <bean id="queueTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="queueDS"/>
    </bean>
    <tx:annotation-driven transaction-manager="queueTxManager"/>
    <tx:annotation-driven transaction-manager="rentTxManager"/>   
    <task:scheduler id="myScheduler" pool-size="10"/>
</beans>